# **(ADD THE NOTEBOOK NAME HERE)**

## Objectives

* Write your notebook objective here, for example, "Fetch data from Kaggle and save as raw data", or "engineer features for modelling"

## Inputs

* Write down which data or information you need to run the notebook 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [2]:
import os
current_dir = os.getcwd()
current_dir

'/Users/muhtarmuhtar/Documents/vscode-projects/cost-affordability-healthy-diet-analysis/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [3]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [4]:
current_dir = os.getcwd()
current_dir

'/Users/muhtarmuhtar/Documents/vscode-projects/cost-affordability-healthy-diet-analysis'

# Section 1

Section 1 content

In [22]:
import numpy as np
import pandas as pd

In [23]:
# import the raw CoAHD.csv file using the pandas library
df = pd.read_csv('dataset/raw/CoAHD.csv')
df.head()

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Release Code,Release,Unit,...,Y2020,Y2020F,Y2021,Y2021F,Y2022,Y2022F,Y2023,Y2023F,Y2024,Y2024F
0,5000,'001,World,70040,"Cost of a healthy diet (CoHD), PPP dollar per ...",6226,Value,7S2025,July 2025 (SOFI report),Int$ (PPP) per person per day,...,3.43,E,3.60,E,4.01,E,4.3,E,4.46,E
1,5000,'001,World,70070,"Cost of starchy staples, PPP dollar per person...",6226,Value,7S2025,July 2025 (SOFI report),Int$ (PPP) per person per day,...,NaN,NaN,0.58,E,NaN,NaN,NaN,NaN,NaN,NaN
2,5000,'001,World,70080,"Cost of animal source foods, PPP dollar per pe...",6226,Value,7S2025,July 2025 (SOFI report),Int$ (PPP) per person per day,...,NaN,NaN,1.00,E,NaN,NaN,NaN,NaN,NaN,NaN
3,5000,'001,World,70090,"Cost of legumes, nuts and seeds, PPP dollar pe...",6226,Value,7S2025,July 2025 (SOFI report),Int$ (PPP) per person per day,...,NaN,NaN,0.39,E,NaN,NaN,NaN,NaN,NaN,NaN
4,5000,'001,World,70100,"Cost of vegetables, PPP dollar per person per day",6226,Value,7S2025,July 2025 (SOFI report),Int$ (PPP) per person per day,...,NaN,NaN,0.76,E,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
print(df.info()) # Get a concise summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Area Code        373 non-null    int64
 1   Area Code (M49)  373 non-null    object
 2   Area             373 non-null    object
 3   Item Code        373 non-null    int64
 4   Item             373 non-null    object
 5   Element Code     373 non-null    int64
 6   Element          373 non-null    object
 7   Release Code     373 non-null    object
 8   Release          373 non-null    object
 9   Unit             373 non-null    object
 10  Y2017            175 non-null    float64
 11  Y2017F           175 non-null    object
 12  Y2018            175 non-null    float64
 13  Y2018F           175 non-null    object
 14  Y2019            175 non-null    float64
 15  Y2019F           175 non-null    object
 16  Y2020            175 non-null    float64
 17  Y2020F           175 non-null    object
 18  Y2021            373 non-null    float64
 19  Y2021F           373 non-null    object
 20  Y2022            175 non-null    float64
 21  Y2022F           175 non-null    object
 22  Y2023            99 non-null     float64
 23  Y2023F           99 non-null     object
 24  Y2024            99 non-null     float64
 25  Y2024F           99 non-null     object
dtypes: float64(8), int64(3), object(15)
memory usage: 75.9+ KB
None

In [25]:
df.isnull().sum() # Check for missing values in each column

Area Code            0
Area Code (M49)      0
Area                 0
Item Code            0
Item                 0
Element Code         0
Element              0
Release Code         0
Release              0
Unit                 0
Y2017              198
Y2017F             198
Y2018              198
Y2018F             198
Y2019              198
Y2019F             198
Y2020              198
Y2020F             198
Y2021                0
Y2021F               0
Y2022              198
Y2022F             198
Y2023              274
Y2023F             274
Y2024              274
Y2024F             274
dtype: int64

In [26]:
df.shape # Get the number of rows and columns in the DataFrame

(373, 26)

---

# Section 2

Section 2 content

In [27]:
# Drop unnecessary columns
df = df.drop(columns=['Area Code', 'Item Code', 'Element Code', 'Release Code', 'Release',
                      'Y2017F', 'Y2018F', 'Y2019F', 'Y2020F', 'Y2021F', 'Y2022F', 'Y2023F', 
                      'Y2024F'])
df.head(3)

,Area Code (M49),Area,Item,Element,Unit,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022,Y2023,Y2024
0,'001,World,"Cost of a healthy diet (CoHD), PPP dollar per ...",Value,Int$ (PPP) per person per day,3.14,3.19,3.3,3.43,3.60,4.01,4.3,4.46
1,'001,World,"Cost of starchy staples, PPP dollar per person...",Value,Int$ (PPP) per person per day,NaN,NaN,NaN,NaN,0.58,NaN,NaN,NaN
2,'001,World,"Cost of animal source foods, PPP dollar per pe...",Value,Int$ (PPP) per person per day,NaN,NaN,NaN,NaN,1.00,NaN,NaN,NaN

In [28]:
# Remove single quotes from the 'Area Code (M49)' column
df["Area Code (M49)"] = df["Area Code (M49)"].str.replace("'", "", regex=False) 
df.head(3)

,Area Code (M49),Area,Item,Element,Unit,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022,Y2023,Y2024
0,001,World,"Cost of a healthy diet (CoHD), PPP dollar per ...",Value,Int$ (PPP) per person per day,3.14,3.19,3.3,3.43,3.60,4.01,4.3,4.46
1,001,World,"Cost of starchy staples, PPP dollar per person...",Value,Int$ (PPP) per person per day,NaN,NaN,NaN,NaN,0.58,NaN,NaN,NaN
2,001,World,"Cost of animal source foods, PPP dollar per pe...",Value,Int$ (PPP) per person per day,NaN,NaN,NaN,NaN,1.00,NaN,NaN,NaN

In [29]:
rename_col = {
    "Area Code (M49)": "region_code",
    "Area": "region",
    "Item": "item",
    "Element": "element",
    "Unit": "unit"
}

df_clean = df.rename(columns=rename_col)
df_clean.head(3)

,region_code,region,item,element,unit,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022,Y2023,Y2024
0,001,World,"Cost of a healthy diet (CoHD), PPP dollar per ...",Value,Int$ (PPP) per person per day,3.14,3.19,3.3,3.43,3.60,4.01,4.3,4.46
1,001,World,"Cost of starchy staples, PPP dollar per person...",Value,Int$ (PPP) per person per day,NaN,NaN,NaN,NaN,0.58,NaN,NaN,NaN
2,001,World,"Cost of animal source foods, PPP dollar per pe...",Value,Int$ (PPP) per person per day,NaN,NaN,NaN,NaN,1.00,NaN,NaN,NaN

In [30]:
df_clean.info() # Get a concise summary of the cleaned DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   region_code  373 non-null    object
 1   region       373 non-null    object
 2   item         373 non-null    object
 3   element      373 non-null    object
 4   unit         373 non-null    object
 5   Y2017        175 non-null    float64
 6   Y2018        175 non-null    float64
 7   Y2019        175 non-null    float64
 8   Y2020        175 non-null    float64
 9   Y2021        373 non-null    float64
 10  Y2022        175 non-null    float64
 11  Y2023        99 non-null     float64
 12  Y2024        99 non-null     float64
dtypes: float64(8), object(5)
memory usage: 38.0+ KB

In [31]:
df_clean.isnull().sum() # Check for missing values in each column

region_code      0
region           0
item             0
element          0
unit             0
Y2017          198
Y2018          198
Y2019          198
Y2020          198
Y2021            0
Y2022          198
Y2023          274
Y2024          274
dtype: int64

In [32]:
# Convert to numeric and fill NaN with 0
year_cols = [col for col in df_clean.columns if col.startswith('Y')]
df_clean[year_cols] = df_clean[year_cols].apply(pd.to_numeric, errors="coerce").fillna(0)

In [33]:
# Convert to long format
df_clean = df_clean.melt(id_vars=['region_code', 'region', 'item', 'element', 'unit'], 
                         var_name='year', value_name='amount')
df_clean.head(3)

,region_code,region,item,element,unit,year,amount
0,001,World,"Cost of a healthy diet (CoHD), PPP dollar per ...",Value,Int$ (PPP) per person per day,Y2017,3.14
1,001,World,"Cost of starchy staples, PPP dollar per person...",Value,Int$ (PPP) per person per day,Y2017,0.00
2,001,World,"Cost of animal source foods, PPP dollar per pe...",Value,Int$ (PPP) per person per day,Y2017,0.00

In [34]:
print(df_clean.columns.tolist())

['region_code', 'region', 'item', 'element', 'unit', 'year', 'amount']

In [36]:
# Save the cleaned DataFrame to a new CSV file
df_clean.to_csv('dataset/processed/CoAHD_cleaned.csv', index=False)
print("Cleaned DataFrame saved to 'dataset/cleaned/CoAHD_cleaned.csv'")

Cleaned DataFrame saved to 'dataset/cleaned/CoAHD_cleaned.csv'

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [18]:
# import os
# try:
#   # create your folder here
#   # os.makedirs(name='')
# except Exception as e:
#   print(e)